@model IDGS902_Tema1.Models.Diccionario

@{
    ViewBag.Title = "BuscarDiccionario";
}

<div class="row">
    <div class="col-12 text-center">
        <h2>Buscar en Diccionario</h2>
    </div>

    <form action="@Url.Action("")" method="post"></form>

    <div class="col-6 col-md-6">
        <div class="card">
            <div class="card-body d-flex justify-content-center align-items-center">
                @using (Html.BeginForm())
                {
                    <div class="form-group text-center">
                        <label>Buscar palabra</label>

                        <div>
                            @Html.EditorFor(model => model.PalabraBuscar, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Ingrese una palabra", required = "required" } })
                        </div>
                    </div>
                    <br />
                    <div class="form-group text-center">

                        <div class="form-group">
                            <label class="col-form-label">Idioma:</label>

                            <div>
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.Idioma, "español") Español
                                </label>

                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.Idioma, "inglés") Inglés
                                </label>
                            </div>
                        </div>

                    </div>


                    <br />

                    <div>
                        <div class="form-group col-6">
                            <div class="text-center">
                                <input type="submit" name="name" value="Buscar" class="btn btn-outline-info" />
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

    <div class="col-6 col-md-6 text-center">
       @Html.Raw(@ViewBag.Traduccion)            
    </div>


</div>
